body {
	margin: 0;
	padding: 6rem 4rem;
	background: url("../../Image_resources/login_reg_background.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Inter', sans-serif;
	color: #420420;
}


#hero {
	max-width: 1200px;
	margin: 0 auto;
}

#landingHeader {
	color: #5b1b6b;
	font-size: 2.4rem;
	margin-bottom: 3rem;
}

.hero-content {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.hero-image {
	background: linear-gradient(135deg, #d8f5c4, #e9f6dc);
	padding: 2rem;
	border-radius: 12px;
}

.hero-image img {
	width: 220px;
	height: auto;
	display: block;
}

.hero-text {
	max-width: 420px;
	font-size: 2rem;
	line-height: 1.5;
	color: #7a7a7a;
}


#features h2 {
	color: #5b1b6b;
	margin-bottom: 2rem;
}

.feature-cards {
	display: flex;
	gap: 3rem;
}

.card {
	width: 240px;
	height: 240px;
	background: #6e6e8e;
	border-radius: 16px;
	padding: 1rem;
	color: white;
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
}

.card a :hover{
	color:#420420;
	transition: 0.3s;
}


.card img{
	max-width: 100px;
	max-height: 100px;
	
}
.card a{
	text-decoration: none;
}

.card a:link{
	color:#FFF4F8;
}	

.card a:visited{
	color:#FFF4F8;
}

