body{
font-family:Arial;
margin:0;
padding-top:4rem;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.card{
background:#420420;
padding:12px;
margin-bottom:15px;
border-radius:10px;
color:white;
font-size:14px;
}

textarea{
width:100%;
padding:8px;
margin-top:8px;
border-radius:8px;
border:none;
}

.submit{
background:#420420;
color:white;
padding:15px;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
}

.star{
font-size:22px;
cursor:pointer;
color:#888;
transition:0.2s;
}

.star:hover,
.star.hovered,
.star.selected{
color:gold;
text-shadow:0 0 8px gold;
}