body{
font-family:Arial;
margin:0;
padding-top:4rem;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.card{
background:#420420;
padding:12px;
margin-bottom:15px;
border-radius:10px;
color:white;
font-size:14px;
}

button{
background:#420420;
color:white;
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
}

.review-row{
display:flex;
flex-direction:column;
gap:20px;
margin-bottom:20px;
}

.review-content{
flex:1;
}

.review-actions{
min-width:180px;
display:flex;
justify-content:flex-end;
}

.review-text-box{
border:2px solid white;
padding:10px;
border-radius:5px;
}

.star{
color:gold;
font-size:22px;
margin-right:3px;
}

.star.empty{
color:#ccc;
}

#fullReviewContainer>button{
margin-top:20px;
width:100%;
padding:12px;
font-size:16px;
}